{% extends 'WineotBackEndBackEndBundle::layout.html.twig' %}
{% block body %}
    {% if (wines|length > 0) %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'wine.form.label_picture'|trans }}</th>
                <th>{{ 'wine.form.bottle_picture'|trans }}</th>
                <th>{{ 'wine.form.winery'|trans }}</th>
                <th>{{ 'wine.form.name'|trans }}</th>
                <th>{{ 'wine.form.vintages'|trans }}</th>
                <th class="btn-table"></th>
            </tr>
            </thead>
            <tbody>
            {% for wine in wines %}
                <tr>
                    <td>
                        {% if  wine.labelPicture is not null %}
                            <img class="img-responsive" src="{{ wine.labelPicture.getImage() }}" width="50px">
                        {% endif %}
                    </td>
                    <td>
                        {% if wine.bottlePicture is not null %}
                            <img class="img-responsive" src="{{ wine.bottlePicture.getImage() }}" width="50px"/>
                        {% endif %}
                    </td>
                    <td>
                        {% if wine.winery.name is defined %}
                            {{ wine.winery.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ wine.name }}
                    </td>
                    <td>
                        {{ wine.vintages|length }}
                    </td>
                    <td class="tooltips">
                        <a href="{{ path('wineot_back_end_crud_wine_edit', { 'id': wine.id }) }}"
                           class="btn btn-sm btn-blue btn-block" data-toggle="tooltip"
                           data-placement="top" data-original-title="Edit">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    <td class="tooltips">
                        <a href="{{ path('wineot_back_end_admin_wine_validate', { 'id': wine.id }) }}"
                           class="btn btn-sm btn-green btn-block" data-toggle="tooltip"
                           data-placement="top" data-original-title="{{ 'global.action.validate'|trans }}">
                            <i class="fa fa-check"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Vous avez pas de vins à valider, bon travail !</p>
    {% endif %}
{% endblock %}