<div class="col-sm-12">
    <div class="section-title clearfix"></div>
    <div style="text-align: center;">

        <a href="{{ path('wineot_front_end_winery_show',
        {'wineryName':winery.name|replace({' ':'-'}),
        'wineryId':winery.id}) }}"><h2>{{ winery.name }}</h2>
        </a>

        <p>
            {{ winery.region.name }} · {{ winery.country.name }}
        </p>
        <h4>{{ 'winery.keys.wines_count'|trans }}</h4>

        <p>
            {{ winery.wines|length }}
        </p>
        <h4>{{ 'winery.keys.avg_rating'|trans }}</h4>

        <p>
            {% if winery.getAvgRating() is not null %}
                {{ winery.getAvgRating() }}
                {% for i in 1..winery.getAvgRating() %}
                    <i class="rank rank-small"></i>
                {% endfor %}
            {% else %}
                -
            {% endif %}
        </p>
    </div>
</div>