{% extends "frontend/layout.html.twig" %}
{% set menu_selected = 'admin' %}
{% set search_active = false %}
{% set sitehero_active = false %}
{% block sidebar %}
    <section id="section-categories" class="section">
        <h2 class="section-title h4 clearfix"><i class="line"></i>CRUD</h2>
        <ul class="nav nav-pills nav-stacked nav-categories">
            <li class="{% if app.request.attributes.get('_route') == 'wineot_back_end_crud_winery' %}active{% endif %}">
                <a href="{{ path('wineot_back_end_crud_winery') }}">Winery</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'wineot_back_end_crud_wine' %}active{% endif %}">
                <a href="{{ path('wineot_back_end_crud_wine') }}">Wine</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'wineot_back_end_crud_user' %}active{% endif %}">
                <a href="{{ path('wineot_back_end_crud_user') }}">User</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'wineot_back_end_crud_comment' %}active{% endif %}">
                <a href="{{ path('wineot_back_end_crud_comment') }}">Comments</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'wineot_back_end_crud_country' %}active{% endif %}">
                <a href="{{ path('wineot_back_end_crud_country') }}">Country</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'wineot_back_end_crud_grappe' %}active{% endif %}">
                <a href="{{ path('wineot_back_end_crud_grappe') }}">Grappe</a>
            </li>
        </ul>
    </section>
{% endblock %}
