<!DOCTYPE html>
<html>
{% include 'header.html.twig' %}
<body>
<div id="page" class="site">
    {% include 'UtilsNotifyMessengerBundle::flash.html.twig' %}
    <header class="site-header" role="banner">
        <div class="container">
            {% include 'frontend/navbar.html.twig' %}
            {% if search_active is not defined  %}
                {% include 'frontend/search.html.twig' %}
            {% endif %}
        </div>
    </header>

    {% if sitehero_active is not defined  %}
        <div class="site-hero clearfix">
            <div class="container">
                {% set featured_block = block('featured') %}
                {% if featured_block is not empty %}
                    {{ featured_block|raw }}
                {% endif %}
            </div>
        </div><!-- .site-hero -->
    {% endif %}


    <div id="main" class="site-main clearfix">
        <div class="container">

            <div class="content-area">
                <div class="row">

                    {% set sidebar_block = block('sidebar') %}
                    {% set sidebar_block_right = block('sidebar_right') %}
                    {% set body_block = block('body') %}
                    {% if sidebar_block is not empty %}
                        <div id="sidebar" class="site-sidebar col-md-3">
                            <div class="widget-area">
                                {{ sidebar_block|raw }}
                            </div>
                        </div>
                        <div id="content" class="site-content col-md-9">
                            <div class="row">
                                {#{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': false } %}#}
                                {{ body_block|raw }}
                            </div>
                        </div>
                        {% elseif sidebar_block_right is not empty %}
                            <div id="content" class="site-content col-md-9">
                                <div class="row">
                                    {#{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': false } %}#}
                                    {{ body_block|raw }}
                                </div>
                            </div>
                            <div id="sidebar" class="site-sidebar col-md-3">
                                <div class="widget-area">
                                    {{ sidebar_block_right|raw }}
                                </div>
                            </div>
                    {% else %}
                        <div id="content" class="site-content col-md-12">
                            <div class="row">
                                {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': false } %}
                                {{ body_block|raw }}
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- #main -->

        <div class="clearfix">
            <div class="container">
                {% set featured_bottom_block = block('featured_bottom') %}
                {% if featured_bottom_block is not empty %}
                    {{ featured_bottom_block|raw }}
                {% endif %}
            </div>
        </div><!-- .site-hero -->

    {% include 'footer.html.twig' %}
</div>
</body>
</html>
