{% if menu_selected is not defined %}
    {% set menu_selected='home' %}
{% endif %}
<!-- logo -->
<div id="logo" class="site-logo text-center">
    <a href="{{ path('wineot_front_end_homepage') }}">
        <img src="{{ asset('img/logo-black.png') }}" alt="Wine'ot" height="80%"/>
    </a>
</div>
<!-- logo -->
<!-- navabar -->
<div id="navbar" class="navbar-wrapper text-center">
    <nav class="navbar navbar-default site-navigation" role="navigation">
        <ul class="nav navbar-nav navbar-menu">
            <li class="{% if menu_selected=='home' %}active{% endif %}">
                <a href="{{ path('wineot_front_end_homepage') }}">{{ 'global.title.home'|trans }}</a>
            </li>
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="{% if menu_selected=='admin' %}active{% endif %}">
                        <a href="{{ path('wineot_back_end_homepage') }}">{{ 'global.title.admin'|trans }}</a>
                    </li>
                {% endif %}
                <li class="dropdown {% if menu_selected=='profile' %}active{% endif %}">
                        <a class="dropdown-toggle" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ app.user.firstname }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownProfile">
                            <li><a href="{{ path('wineot_user_profile') }}">{{ 'user.title.my_profile'|trans }}</a></li>
                            <li><a href="{{ path('wineot_user_profile_edit') }}">{{ 'user.title.settings'|trans }}</a></li>
                            <li><a href="{{ path('wineot_user_logout') }}">{{ 'user.action.logout'|trans }}</a></li>
                        </ul>
                </li>
            {% else %}
                <li class="{% if menu_selected=='register' %}active{% endif %}">
                    <a href="{{ path('wineot_user_register') }}">{{ 'user.action.register'|trans }}</a>
                </li>
                <li class="{% if menu_selected=='login' %}active{% endif %}">
                    <a href="{{ path('wineot_user_login') }}">{{ 'user.action.login'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<!-- navbar -->
