{{ form_start(form) }}
        {% if errors  is defined %}
            {% for error in errors %}
                <div class="alert alert-danger"><i class="fa fa-warning"></i> {{ error.message|trans }}</div>
            {% endfor %}
        {% endif %}
<fieldset>
    <div class="form-group">
        <label class="sr-only" for="username">Name</label>
        {{ form_widget(form.name, { 'attr': { 'placeholder': 'name'|trans } } ) }}
    </div>
    <br>
    <input class="btn btn-lg  btn-block" type="submit" id="_submit" name="submit_wine"
           value="{{ 'submit'|trans }}"/>
</fieldset>
<br>
{{ form_end(form) }}