{{ form_start(form) }}
        {% if errors  is defined %}
            {% for error in errors %}
                <div class="alert alert-danger"><i class="fa fa-warning"></i> {{ error.message|trans }}</div>
            {% endfor %}
        {% endif %}
<fieldset>
    <div class="form-group">
        {{ form_widget(form.name, { 'attr': { 'placeholder': 'name'|trans } } ) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.country, { 'attr': { 'placeholder': 'country'|trans } } ) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.region, { 'attr': { 'placeholder': 'region'|trans } } ) }}
    </div>
    {% include 'WineotDataBundle:Address:form.html.twig' %}
    <div class="form-group">
        {{ form_widget(form.mail, { 'attr': { 'placeholder': 'mail'|trans } } ) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.phone, { 'attr': { 'placeholder': 'phone'|trans } } ) }}
    </div>
    <div class="form-group">
        {% if  winery.coverPicture.md5 is defined %}
            <img class="img-responsive" src="{{ winery.coverPicture.getImage() }}" width="200px">
            <a href="{{ path('wineot_back_end_crud_winery_delete_picture', {'id': wine.id }) }}"
               onclick="return confirm('Delete ?')">
                <i class="fa fa-times"> {{ 'crud.action.delete_image'|trans }}</i>
            </a>
        {% else %}
            <label>{{ 'global.winery.picture.cover'|trans }}</label>
            {{ form_widget(form.coverPicture.fileuploaded) }}
        {% endif %}
    </div>
    <br>
    <input class="btn btn-lg  btn-block" type="submit" id="_submit" name="submit_wine"
           value="{{ 'submit'|trans }}"/>
</fieldset>
<br>
{{ form_end(form) }}

<script>

</script>