{% extends 'WineotBackEndCRUDBundle::layout.html.twig' %}
{% set menu_selected = 'admin' %}
{% block body %}
    <div class="col-sm-12">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'winery.form.name'|trans }}</th>
            <th>{{ 'winery.form.localisation'|trans }}</th>
            <th>{{ 'winery.form.wines'|trans }}</th>
            <th class="btn-table"></th>
            <th class="btn-table"></th>
        </tr>
        </thead>
        <tbody>
        {% for winery in wineries %}
            <tr>
                <td>{{ winery.name }}</td>
                <td>
                    {% if winery.region.name is defined %}
                {{ winery.region.name }} · {{ winery.country.name }}
                    {% endif %}
                </td>
                <td>{{ winery.wines|length }}</td>
                <td class="tooltips">
                    <a href="{{ path('wineot_back_end_crud_winery_edit', { 'id': winery.id }) }}"
                       class="btn btn-sm btn-blue btn-block" data-toggle="tooltip"
                       data-placement="top" data-original-title="Edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td class="tooltips">
                    <a href="{{ path('wineot_back_end_crud_winery_delete', { 'id': winery.id }) }}"
                       class="btn btn-sm btn-red btn-block" data-toggle="tooltip"
                       data-placement="top" data-original-title="Delete" onclick="return confirm('Delete ?')">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-lg btn-block" href="{{ path('wineot_back_end_crud_winery_add') }}">{{ 'winery.action.add'|trans }}</a>
</div>
{% endblock %}