{% extends 'WineotUserBundle::layout.html.twig' %}
{% block body %}
    <div class="col-lg-4 col-lg-offset-4">
        <h2 class="section-title clearfix"><i class="line"></i>
            {{ 'user.title.forget_password'|trans }}
        </h2>
        {{ form_start(form) }}
        {% if errors  is not null %}
            {% for error in errors %}
                <div class="alert alert-danger"><i class="fa fa-warning"></i> {{ error.message|trans }}</div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info"><i class="fa fa-question-circle"></i> {{ 'user.message.password_reset'|trans }}</div>
        {% endif %}
        <fieldset>
            <div class="form-group">
                <label class="sr-only" for="email">Email</label>
                {{ form_widget(form.mail, { 'attr': { 'placeholder': 'user.form.placeholder.email'|trans } } ) }}
            </div>
            <input class="btn btn-lg btn-block" type="submit" id="_submit" name="submit_user_register"
                   value="{{ 'user.action.reset_password'|trans }}"/>
        </fieldset>
        <br>

        {{ form_end(form) }}
    </div>
    <div class="col-lg-4"
{% endblock %}
