{% extends "WineotFrontEndWineBundle::layout.html.twig" %}
{% block featured %}
    <div class="featured row">
        <div class="col-sm-8">
            <div class="banner-wrapper row">
                <div class="wine-show-image col-sm-3">
                    {% if  wine.labelPicture.md5 is defined %}
                        <img class="img-responsive img-thumbnail" src="{{ wine.labelPicture.getImage() }}">
                    {% else %}
                        <img class="img-responsive" src="{{ asset('img/image.png') }}"/>
                    {% endif %}
                </div>
                <div class="wine-show-body col-sm-9">
                    <h2 class="">{{ wine.winery.name }}</h2>

                    <h1>{{ wine.name }}
                        {% if vintage is not empty %}
                        <span> {{ vintage }}</span>
                            {% endif %}
                    </h1>
                    <br/>

                <p><i class="fa fa-circle-o-notch wine-color-{{ wine.color }}"></i> {{ wine.color|wineColor }}</p>

                </div>
            </div>
            <!-- .banner-wrapper -->
        </div>

        <div class="col-sm-4">
            <div class="banner-wrapper text-center">

                {% render(controller('WineotFrontEndCommentBundle:Comment:add', { 'request' : app.request, 'wine' : wine })) %}
                {#<h4 class="banner-title h3">Comment section</h4>#}

                {#<div class="banner-content">#}
                    {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis, purus quis dictum vitae#}
                        {#placerat …</p>#}
                {#</div>#}
            </div>
            <!-- .banner-wrapper -->
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="col-sm-12">
        <h3 class="section-title clearfix"><i class="line"></i>
            {{ 'wine.title.description'|trans }}
        </h3>
       <div class="col-sm-8 col-sm-offset-4">
           <p>{{ wine.description }}</p>
       </div>
    </div>
    <div class="col-sm-12">
        <h3 class="section-title clearfix"><i class="line"></i>
            {{ 'wine.vintage.title.vintages'|trans }}
        </h3>
        <div class="col-sm-8 col-sm-offset-4">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>{{ 'wine.vintage.title.all_vintage'|trans }}</td>
                    <td class="text-right"> €</td>
                </tr>
            {% for vintage in wine.vintages %}
                <tr>
                    <td>{{ vintage.productionYear }}</td>
                    <td class="text-right">{{ vintage.wineryPrice }} €</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
    </div>
{% endblock %}
{% block sidebar_right %}
        {% render(controller('WineotFrontEndCommentBundle:Comment:list', { 'request' : app.request, 'wine' : wine })) %}
{% endblock %}