{% extends "WineotFrontEndWineBundle::layout.html.twig" %}
{% block featured %}
    <div class="featured row">
        <div class="col-sm-8">
            <div class="banner-wrapper row">
                <div class="wine-show-image col-sm-3">
                    {% if  wine.labelPicture.md5 is defined %}
                        <img class="img-responsive" src="{{ wine.labelPicture.getImage() }}">
                    {% else %}
                        <img class="img-responsive" src="{{ asset('img/image.png') }}"/>
                    {% endif %}
                </div>
                <div class="wine-show-body col-sm-9">
                    <h2>{{ wine.winery.name }}</h2>

                    <h1>{{ wine.name }}
                        {% if vintage is not empty %}
                            <span> {{ vintage }}</span>
                        {% endif %}
                    </h1>
                    <br/>

                    <p>
                        <i class="country-flag flag-{{ wine.winery.country.code }}"></i> {{ wine.winery.region.name }}
                        · {{ wine.winery.country.name }}<br/>
                        <i class="fa fa-circle-o-notch wine-color-{{ wine.color }}"></i> {{ wine.color|wineColor }}
                    </p>

                    <p>{{ wine.description }}</p>

                    <div class="wine-show-keys">
                        <div class="wine-show-key pull-right">
                            <h4>Avg Rating</h4>

                            <p>
                                {% if wine.getAvgRating() is not null %}
                                    {{ wine.getAvgRating() }}
                                    {% for i in 1..wine.getAvgRating() %}
                                        <i class="rank rank-small"></i>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </p>
                        </div>
                        <div class="wine-show-key pull-right">
                            <h4>Avg Price</h4>

                            <p>
                                {% if wine.getAvgPrice() is not null %}
                                    {{ wine.getAvgPrice() }} €
                                {% else %}
                                    -
                                {% endif %}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- .banner-wrapper -->
        </div>

        <div class="col-sm-4">
            <div class="banner-wrapper row text-center">
                    {% render(controller('WineotFrontEndCommentBundle:Comment:add', { 'request' : app.request, 'wineId' : wine.id })) %}
                    <span class="horizontal-line"></span>
                    <div class="col-md-12 wine-show-share" style="">
                        <p>
                        <a href="{{ path('wineot_front_end_wine_favorite', {'wineryName':wine.winery.name|replace({' ':'-'}), 'wineId': wine.id}) }}"
                           class="btn-social btn-favorite" data-toggle="tooltip"
                           data-placement="top" data-original-title="{{ 'wine.action.favorite'|trans }}">
                            <i class="fa fa-heart fa-fw"></i>
                        </a>
                        </p>
                    </div>
            </div>
        </div>
        <!-- .banner-wrapper -->
    </div>
{% endblock %}
{% block body %}
    {#<div class="col-sm-12">#}
    {#<h3 class="section-title clearfix"><i class="line"></i>#}
    {#{{ 'wine.title.description'|trans }}#}
    {#</h3>#}

    {#<div class="col-sm-8 col-sm-offset-4">#}
    {#<p>{{ wine.description }}</p>#}
    {#</div>#}
    {#</div>#}
    {% if wine.vintages is not empty %}
        <div class="col-sm-12">
            <h3 class="section-title clearfix"><i class="line"></i>
                {{ 'wine.vintage.title.vintages'|trans }}
            </h3>

            <div class="col-sm-8 col-sm-offset-4">
                <table class="table table-hover">
                    <tbody>
                    <tr onclick="location.href='{{ path('wineot_front_end_wine_show',
                    { 'wineryName':wine.winery.name|replace({' ':'-'}), 'wineName':wine.name|replace({' ':'-'}), 'wineId':wine.id }) }}'"
                        style="cursor: pointer;">
                        <td>{{ 'wine.vintage.title.all_vintage'|trans }}</td>
                        <td class="text-right">{{ wine.getAvgPrice() }} €</td>
                    </tr>
                    {% for vintage in wine.vintages %}
                        <tr onclick="location.href='{{ path('wineot_front_end_wine_show',
                        { 'wineryName':wine.winery.name|replace({' ':'-'}), 'wineName':wine.name|replace({' ':'-'}), 'wineId':wine.id, 'vintage':vintage.productionYear }) }}'"
                            style="cursor: pointer;">
                            <td>{{ vintage.productionYear }}</td>
                            <td class="text-right">{{ vintage.wineryPrice }} €</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block sidebar_right %}
    {% render(controller('WineotFrontEndCommentBundle:Comment:list', { 'request' : app.request, 'wine' : wine })) %}
{% endblock %}
{% block featured_bottom %}
    <div class="col-sm-12">
        <h3 class="section-title clearfix"><i class="line"></i>
            {{ 'wine.title.other_winery_wine'|trans }}
        </h3>
        <ul class="wine-thumbnails">

            {% include 'WineotFrontEndWineBundle:Wine:thumbnails.html.twig' with {'wine': wine} %}
            {% include 'WineotFrontEndWineBundle:Wine:thumbnails.html.twig' with {'wine': wine} %}
            {% include 'WineotFrontEndWineBundle:Wine:thumbnails.html.twig' with {'wine': wine} %}
            <ul class="wine-thumbnails">
    </div>
{% endblock %}