<table class="table col-lg-6">
    <thead>
    <tr>
        <th>{{ 'Region name'|trans }}</th>
        <th class="btn-table"></th>
    </tr>
    </thead>

    {% macro tagCollectionItem(formData) %}
            <td>{{ form_widget(formData.name) }}</td>
            <td class="tooltip-content collection-delete"></td>
            <td class="hidden">form_widget(formData)</td>
    {% endmacro %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <tbody class="collection-table" data-prototype="{{ _self.tagCollectionItem(form.regions.vars.prototype)|e }}">
    {% for region in form.regions %}
        <tr>
            {{ _self.tagCollectionItem(region) }}
        </tr>
    {% endfor %}
    </tbody>
</table>