{{ form_start(form) }}
<div class="form-inline">
    <div class="form-group">
        {{  form_widget(form.searchInput, { 'name' : 'searchInput', 'attr' : {'placeholder': 'search.action.search'|trans, 'class': 'search-field form-control input-lg'} })}}

    </div>
    <input type="submit" class="search-submit btn btn-lg pull-right" id="_submit" name="_submit" value="{{ 'search.button.search'|trans }}"/>
</div>
<div class="search-advance">
    <div class="row">

        <div class="col-sm-4">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-12 control-label">
                        <select name="wineColor" class="form-control">
                            <option value="3">Choisir couleur</option>
                            <option value="0">{{ 'global.wine.color.red'|trans }}</option>
                            <option value="1">{{ 'global.wine.color.pink'|trans }}</option>
                            <option value="2">{{ 'global.wine.color.white'|trans }}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

    </div>
</div><!-- .search-advance -->

<a href="#" class="search-advance-button text-center"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
{{ form_end(form) }}
