{#<div class="form-group vintages" data-prototype="{{ form_widget(form.vintages.vars.prototype)|e }}">#}
    {#{% for vintage in form.vintages %}#}
        {#{{ form_widget(vintage.productionYear, { 'attr': { 'placeholder': 'vintage'|trans } } ) }}#}
    {#{% endfor %}#}
{#</div>#}
<table class="table col-lg-6">
    <thead>
    <tr>
        <th>{{ 'vintage'|trans }}</th>
        <th>{{ 'price'|trans }}</th>
        <th class="btn-table"></th>
    </tr>
    </thead>

    {% macro tagCollectionItem(formData) %}
            <td>{{ form_widget(formData.productionYear) }}</td>
            <td>{{ form_widget(formData.wineryPrice) }}</td>
        {#{% if  formData.labelPicture.md5 is defined %}#}
    {#<td><img class="img-responsive" src="{{ formData.labelPicture.getImage() }}" width="200px"></td>#}
        {#{% else %}#}
    {#<td>{{ form_widget(formData.labelPicture) }}</td>#}
    {#{% endif %}#}
            <td class="hidden">form_widget(formData)</td>
    {% endmacro %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <tbody class="vintages" data-prototype="{{ _self.tagCollectionItem(form.vintages.vars.prototype)|e }}">
    {% for vintage in form.vintages %}
        <tr>
            {{ _self.tagCollectionItem(vintage) }}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% block page_script %}
    <script type="text/javascript">
        var collectionHolder = $('tbody.vintages');

        // ajoute un lien « add a tag »
        var $addTagLink = $('<a href="#" class="btn btn-sm btn-primary add_tag_link"><i class="fa fa-plus"></i> Add a vintage</a>');

        var $newLinkLi = $addTagLink;

        jQuery(document).ready(function () {
            // ajoute l'ancre « ajouter un tag » et li à la balise ul
            collectionHolder.append($newLinkLi);

            $addTagLink.on('click', function (e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                addTagForm(collectionHolder, $newLinkLi);
            });

            collectionHolder.find('tr').each(function () {
                addTagFormDeleteLink($(this));
            });
        });

        function addTagForm(collectionHolder, $newLinkLi) {
            // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
            var prototype = collectionHolder.attr('data-prototype');

            // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
            // la longueur de la collection courante
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

            // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
            var $newFormLi = $('<tr></tr>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<td class="tooltip-content"><a href="#" class="btn btn-sm btn-red btn-block" data-toggle="tooltip" ' +
                    'data-placement="top" data-original-title="Delete vintage"><i class="fa fa-times"></i></a></td>');

            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // empêche le lien de créer un « # » dans l'URL
                e.preventDefault();

                // supprime l'élément li pour le formulaire de tag
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}