{% macro tagCollectionItem(formData) %}
        <div class="row">
            <div class="col-xs-4">
                {{ form_row(formData.productionYear) }}
            </div>
            <div class="col-xs-3">
                {{ form_row(formData.keeping) }}
            </div>
            <div class="col-xs-3">
                {{ form_row(formData.peak) }}
            </div>
            <div class="col-xs-1 col-xs-offset-1 collection-delete">
                {#<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">#}
                    {#Button with data-target#}
                {#</button>#}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(formData.alcohol) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(formData.wineryPrice) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(formData.isBio) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(formData.containsSulphites) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% if  formData.labelPicture.md5 is defined %}
                    <img class="img-responsive" src="{{ formData.labelPicture.getImage() }}" width="200px">
                    {#<a href="{{ path('wineot_back_end_crud_wine_delete_picture', {'id': wine.id }) }}"#}
                    {#onclick="return confirm('Delete ?')">#}
                    {#<i class="fa fa-times"> {{ 'crud.action.delete_image'|trans }}</i>#}
                    {#</a>#}
                {% else %}
                    <label>{{ 'wine.form.label_picture'|trans }}</label>
                    {{ form_widget(formData.labelPicture.fileuploaded) }}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if  formData.bottlePicture.md5 is defined %}
                    <img class="img-responsive" src="{{ formData.bottlePicture.getImage() }}" width="200px">
                    {#<a href="{{ path('wineot_back_end_crud_wine_delete_bottle_picture', {'id': wine.id }) }}"#}
                    {#onclick="return confirm('Delete ?')">#}
                    {#<i class="fa fa-times"> {{ 'crud.action.delete_image'|trans }}</i>#}
                    {#</a>#}
                {% else %}
                    <label>{{ 'wine.form.bottle_picture'|trans }}</label>
                    {{ form_widget(formData.bottlePicture.fileuploaded) }}
                {% endif %}
            </div>
        </div>
{% endmacro %}
<label>{{ 'wine.form.vintages'|trans }}</label>
<div class="collection-vintages" data-prototype="{{ _self.tagCollectionItem(form.vintages.vars.prototype)|e }}">
    {% for vintage in form.vintages %}
        <div class="collection-elem">
            {{ _self.tagCollectionItem(vintage) }}
        </div>
    {% endfor %}
</div>
