{% macro tagCollectionItem(formData) %}
        <div class="row">
            <div class="col-xs-4">
                {{ form_row(formData.productionYear) }}
            </div>
            <div class="col-xs-3">
                {{ form_row(formData.keeping) }}
            </div>
            <div class="col-xs-3">
                {{ form_row(formData.peak) }}
            </div>
            <div class="col-xs-1 col-xs-offset-1 collection-delete">
                {#<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">#}
                    {#Button with data-target#}
                {#</button>#}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(formData.alcohol) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(formData.wineryPrice) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(formData.isBio) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(formData.containsSulphites) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% if  formData.vars.data.labelPicture.filename is defined and formData.vars.data.labelPicture.filename %}
                    <img class="img-responsive form-picture" src="{{ formData.vars.data.labelPicture.getImage() }}">
                    <a href="{{ path('wineot_back_end_crud_wine_delete_picture', {'id': formData.vars.data.id, 'pictureId': formData.vars.data.labelPicture.id }) }}"
                       onclick="return confirm('Delete ?')">
                        <i class="fa fa-times"> {{ 'crud.action.delete_image'|trans }}</i>
                    </a>
                {% else %}
                    <label>{{ 'global.wine.picture.label'|trans }}</label>
                    {{ form_widget(formData.labelPicture.fileuploaded) }}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if  formData.vars.data.bottlePicture.filename is defined and formData.vars.data.bottlePicture.filename %}
                    <img class="img-responsive form-picture" src="{{ formData.vars.data.bottlePicture.getImage() }}">
                    <a href="{{ path('wineot_back_end_crud_wine_delete_picture', {'id': formData.vars.data.id, 'pictureId': formData.vars.data.bottlePicture.id }) }}"
                       onclick="return confirm('Delete ?')">
                        <i class="fa fa-times"> {{ 'crud.action.delete_image'|trans }}</i>
                    </a>
                {% else %}
                    <label>{{ 'global.wine.picture.bottle'|trans }}</label>
                    {{ form_widget(formData.bottlePicture.fileuploaded) }}
                {% endif %}
            </div>
        </div>
{% endmacro %}
<label>{{ 'wine.vintage.title.vintages'|trans }}</label>
<div class="collection-vintages" data-prototype="{{ _self.tagCollectionItem(form.vintages.vars.prototype)|e }}">
    {% for vintage in form.vintages %}
        <div class="collection-elem">
            {{ _self.tagCollectionItem(vintage) }}
        </div>
    {% endfor %}
</div>
