{{ form_start(form) }}
        {% if errors  is defined %}
            {% for error in errors %}
                <div class="alert alert-danger"><i class="fa fa-warning"></i> {{ error.message|trans }}</div>
            {% endfor %}
        {% endif %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
<fieldset>
    <div class="form-group">
        {{ form_widget(form.winery, { 'attr': { 'placeholder': 'winery'|trans } } ) }}
    </div>
    <div class="form-group">
        <div class="row">
        <div class="col-sm-6">
            {% if  wine.labelPicture.md5 is defined %}
                <img class="img-responsive" src="{{ wine.labelPicture.getImage() }}" width="200px">
                <a href="{{ path('wineot_back_end_crud_wine_delete_picture', {'id': wine.id }) }}"
                   onclick="return confirm('Delete ?')">
                    <i class="fa fa-times"> {{ 'crud.action.delete_image'|trans }}</i>
                </a>
            {% else %}
                <label>{{ 'global.wine.picture.label'|trans }}</label>
                {{ form_widget(form.labelPicture.fileuploaded) }}
            {% endif %}
        </div>
        <div class="col-sm-6">
        {% if  wine.bottlePicture.md5 is defined %}
            <img class="img-responsive" src="{{ wine.bottlePicture.getImage() }}" width="200px">
            <a href="{{ path('wineot_back_end_crud_wine_delete_bottle_picture', {'id': wine.id }) }}"
               onclick="return confirm('Delete ?')">
                <i class="fa fa-times"> {{ 'crud.action.delete_image'|trans }}</i>
            </a>
        {% else %}
            <label>{{ 'global.wine.picture.bottle'|trans }}</label>
            {{ form_widget(form.bottlePicture.fileuploaded) }}
        {% endif %}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_widget(form.name, { 'attr': { 'placeholder': 'crud.form.wine.name'|trans } } ) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.description, { 'attr': { 'placeholder': 'crud.form.wine.description'|trans } } ) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.color) }}
    </div>
    <div class="form-group">
        {{ form_row(form.foodPairings) }}
    </div>
    {% include 'WineotBackEndCRUDBundle:Grappe:collection.html.twig' %}
    {% include 'WineotBackEndCRUDBundle:Vintage:form.html.twig' %}
    <br>
    <input class="btn btn-lg  btn-block" type="submit" id="_submit" name="submit_wine"
           value="{{ 'global.action.submit'|trans }}"/>
</fieldset>
<br>
{{ form_widget(form._token) }}
{% block javascript %}

{% endblock %}